body {
  background-color: #cbcbcb;
}

.aligner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.form_wrapper {
  position: relative;
  background-color: #fff;
  width: 40%;
  margin: auto;
  border-radius: 8px;
}

@media (max-width: 980px) {
  .form_wrapper {
    width: 100%;
    border-radius: 0px;
  }
}

.form_wrapper .textboxStyle {
  width: 90%;
  margin-bottom: 30px;
}

.form_wrapper .text_inputs {
  position: relative;
  width: 100%;
}

.form_wrapper .label {
  position: absolute;
  top: 10px;
  left: 0;
  color: gray;
  font-size: 15px;
  font-weight: 400;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.form_wrapper .errorStyle {
  position: absolute;
  top: 33px;
  left: 0;
  color: red;
  font-size: 13px;
  font-weight: 400;
}

.form_wrapper .AfterSubmitError {
  position: absolute;
  left: 15%;
  top: 63%;
}

.form_wrapper .border {
  position: absolute;
  background: gray;
  bottom: 0;
  left: 0;
  height: 1px;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  width: 100%;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.form_wrapper input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  border: 0;
  font-family: inherit;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 1px solid #c8ccd4;
  background: none;
  color: #223254;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.form_wrapper input:hover {
  background: rgba(34, 50, 84, 0.03);
}

.form_wrapper input:not(:placeholder-shown) + span {
  color: #5a667f;
  -webkit-transform: translateY(-30px) scale(0.85);
  transform: translateY(-30px) scale(0.85);
}

.form_wrapper input:focus {
  outline: none;
  background: none;
}

.form_wrapper input:focus + span {
  color: #00aef9;
  -webkit-transform: translateY(-30px) scale(0.85);
  transform: translateY(-30px) scale(0.85);
}

.form_wrapper .button_style {
  position: absolute;
  left: 14%;
  background: #00aef9;
  color: #fff;
  width: 25%;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 15px;
  margin-top: 15px;
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1),
    0 3px 5px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.form_wrapper .button_style:hover {
  background: #00aef9;
  color: #fff;
}

@media (max-width: 980px) {
  .form_wrapper .button_style {
    left: 36%;
    margin-top: -15px;
  }
}

.form_wrapper .header_style {
  text-align: center;
  color: #00aef9;
  margin: 15px;
}

.form_wrapper .sub_header_style {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.form_wrapper .signup_form_style {
  position: relative;
  text-align: center;
  padding: 5px 50px 110px 60px;
}

@media (max-width: 980px) {
  .form_wrapper .signup_form_style {
    padding: 5px 30px 200px 30px;
  }
}

.form_wrapper .signup_form_style .login-action-links {
  float: right;
}

.form_wrapper .signup_form_style a {
  font-size: 14px;
  text-decoration: none;
  color: #00aef9;
}

.form_wrapper .signup_form_style a span {
  font-weight: bold;
}

@media (max-width: 980px) {
  .form_wrapper .signup_form_style a {
    right: 20%;
    bottom: 24%;
  }
}

.form_wrapper .signup_form_style .socials {
  position: absolute;
  bottom: 6%;
  left: 31%;
}

.form_wrapper .signup_form_style .socials img {
  margin-right: 20px;
}

@media (max-width: 980px) {
  .form_wrapper .signup_form_style .socials {
    left: 25%;
  }
}
/*# sourceMappingURL=signup-style.css.map */
