$color: (
  primary: darken(#f1f1f1, 15%),
  form: #fff,
  shadow1: rgba(0, 0, 0, 0.1),
  shadow2: rgba(0, 0, 0, 0.19),
  brand: #00aef9,
  darker: #000,
  facebook: #3b5998,
  google: red,
  authenticationBg: #ffffffc2,
);

@function colors($color-name) {
  @return map-get($color, $color-name);
}

$mobile: 980px;

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

body {
  background-color: colors(primary);
}

.aligner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;

  .login-button-section {
    display: flex;
    margin-bottom: 7%;
    justify-content: center;
    width: 100%;

    .social-login-btn {
      cursor: pointer;
      display: flex;
      float: left;
      height: 30px;
      padding: 0 3%;
      width: 5%;

      .fa-twitter {
        color: colors(brand);
      }

      .fa-github {
        color: colors(darker);
      }

      .fa-facebook-f {
        color: colors(facebook);
      }

      .fa-google-plus-g {
        color: colors(google);
      }
    }
  }
}

.form_wrapper {
  position: relative;
  background-color: colors(authenticationBg) !important;
  width: 40%;
  margin: auto;
  border-radius: 8px;

  @include mobile {
    width: 100%;
    border-radius: 0px;
  }

  .textboxStyle {
    width: 90%;
    margin-bottom: 30px;
  }

  .text_inputs {
    position: relative;
    width: 100%;
  }

  .label {
    position: absolute;
    top: 10px;
    left: 0;
    color: gray;
    font-size: 15px;
    font-weight: 400;
    transform-origin: 0 0;
    transition: all 0.2s ease;
  }

  .errorStyle {
    position: absolute;
    top: 33px;
    left: 0;
    color: red;
    font-size: 13px;
    font-weight: 400;
  }

  .AfterSubmitError {
    position: absolute;
    left: 15%;
    top: 63%;
  }

  .border {
    position: absolute;
    background: gray;
    bottom: 0;
    left: 0;
    height: 1px;
    transform: scaleX(0);
    width: 100%;
    transform-origin: 0 0;
    transition: all 0.15s ease;
  }

  input {
    appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    height: 40px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1px solid #c8ccd4;
    background: none;
    color: #223254;
    transition: all 0.15s ease;

    &:hover {
      background: rgba(#223254, 0.03);
    }

    &:not(:placeholder-shown) + span {
      color: #5a667f;
      transform: translateY(-30px) scale(0.85);
    }

    &:focus {
      outline: none;
      background: none;

      + span {
        color: colors(brand);
        transform: translateY(-30px) scale(0.85);
      }
    }
  }

  #fogetpasswordFormAlign {
    margin: 5em 0 0;
  }

  #fo-btn {
    position: static;
    float: right;
    text-decoration: none;
    color: colors(darker);
    margin: 4.8em 0 0;
    bottom: 0%;
  }

  #forgetPasswordSubmitBtn {
    float: left;
    background: colors(brand);
    border: 0;
    border-radius: 5px;
    box-sizing: border-box;
    color: colors(form);
    font-family: sans-serif;
    font-size: medium;
    margin: 3em 0 0;
    outline: none;
    padding: 10px 8px;
    width: 50%;
    cursor: pointer;
  }

  #btn {
    float: left;
    background: colors(brand);
    border: 0;
    border-radius: 5px;
    box-sizing: border-box;
    color: colors(form);
    font-family: sans-serif;
    font-size: medium;
    margin: 3em 0 0;
    outline: none;
    padding: 10px 8px;
    width: 50%;
    cursor: pointer;
  }

  .button_style {
    position: absolute;
    left: 14%;
    background: colors(brand);
    color: #fff;
    width: 25%;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: 15px;
    margin-top: 15px;
    box-shadow: 0 3px 5px 0 colors(shadow1), 0 3px 5px 0 colors(shadow2);
    cursor: pointer;

    &:hover {
      background: colors(brand);
      color: #fff;
    }

    @include mobile {
      left: 36%;
      margin-top: -15px;
    }
  }

  .header_style {
    text-align: center;
    color: colors(brand);
    margin: 15px;

    .logo {
      overflow: auto;
      width: 50%;
    }
  }

  .sub_header_style {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }

  .signup_form_style {
    position: relative;
    text-align: center;
    padding: 5px 50px 200px 60px;

    @include mobile {
      padding: 5px 30px 200px 30px;
    }

    a {
      font-size: 14px;
      text-decoration: none;
      color: colors(brand);

      span {
        font-weight: bold;
      }

      @include mobile {
        right: 20%;
        bottom: 24%;
      }
    }

    .register_with_social {
      position: absolute;
      left: 35%;
      bottom: 16%;
      color: gray;

      @include mobile {
        left: 30%;
      }
    }

    .socials {
      position: absolute;
      bottom: 6%;
      left: 31%;

      img {
        margin-right: 20px;
      }

      @include mobile {
        left: 25%;
      }
    }
  }
}
