$color: (
  primary: darken(#f1f1f1, 15%),
  form: #fff,
  shadow1: rgba(0, 0, 0, 0.1),
  shadow2: rgba(0, 0, 0, 0.19),
  brand: #00aef9,
  categories: #8a8585,
);

@function colors($color-name) {
  @return map-get($color, $color-name);
}

body {
  background-color: #fff !important;
}
.home-navigation {
  width: 100%;
  background-color: colors(form);
  height: 120px;

  .logo-style {
    width: 180px;
    height: 30px;
    margin: 1%;
    cursor: pointer;
  }

  .user-sm-dashboard {
    position: relative;
    top: -30px;

    .notified {
      position: absolute;
      top: 1px;
      right: 54px;
      content: ' ';
      background-color: #00aef9;
      border-radius: 50%;
      width: 11px;
      height: 11px;
    }
  }

  .nav-categories {
    list-style-type: none;
    margin-left: 11%;
    margin-top: 1.5%;

    li {
      display: inline-block;
      margin-right: 30px;
      margin-top: 1%;
      font-family: Georgia;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: normal;
      color: colors(categories);
      cursor: pointer;
    }
  }

  .nav-bar {
    margin-left: 10%;
    margin-right: 13%;
  }

  .home-nav-link {
    text-decoration: none;
    color: colors(brand);
    float: right;
    margin: 1%;
    border: 2px solid colors(brand);
    border-radius: 8px;
    padding: 10px;
  }

  .icons-style {
    width: 50px;
    height: 25px;
    border: none;
    padding: 0;
    float: right;
    cursor: pointer;
  }

  .user-profile {
    width: 40px;
  }

  .popup-style {
    position: absolute;
    right: 0;
    z-index: 20;
    margin-top: 40px;
    width: auto;
    height: auto;
    border-radius: 4px;
    background-color: white;
    box-shadow: 1px 1px 5px 1px #888888;
    .notification-style {
      position: relative;
      width: 300px;

      .when-no-notification {
        padding: 15px;
        font-size: 16px;
      }

      .seeAll-style {
        padding: 10px;
        text-align: center;

        .seeAll-link {
          text-decoration: none;
          color: colors(brand);
        }
      }
    }

    .arrow-up-notification {
      width: 0;
      height: 0;
      position: absolute;
      top: -9px;
      left: 225px;
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      border-bottom: 9px solid white;
    }

    .arrow-up-notification-back {
      width: 0;
      height: 0;
      position: absolute;
      top: -10px;
      left: 224px;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #00000029;
    }

    .user-menu {
      display: block;
      text-decoration: none;
      color: #747171;
      height: 30px;
      line-height: 30px;
      margin-bottom: 1%;
      border-bottom: 2px solid #fbf8f8;
      text-align: center;
      width: 100%;
    }
    .user-menu:hover {
      color: #147aee;
      background: rgba(123, 179, 253, 0.02);
    }

    // .popup-style {
    //   z-index: 100;
    // }
    .read_notification {
      padding: 30px;
      background: #44444429;

      .notification-article-link {
        text-decoration: none;
        color: black;
      }
      .notification-time {
        font-size: 11px;
        color: #0000008c;
        margin-left: 2.2rem;
        padding-top: 0.5rem;
        font-family: sans-serif;
      }
    }
    .notifications {
      padding: 30px;

      .notification-article-link {
        text-decoration: none;
        color: black;
      }
      .notification-time {
        font-size: 11px;
        color: #ccc;
        margin-left: 2.2rem;
        padding-top: 0.5rem;
        font-family: sans-serif;
      }
    }

    .arrow-up-profile {
      width: 0;
      height: 0;
      position: absolute;
      top: -8px;
      left: 171px;
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      border-bottom: 9px solid white;
    }

    .arrow-up-profile-back {
      width: 0;
      height: 0;
      position: absolute;
      top: -9px;
      left: 171px;
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      border-bottom: 9px solid #00000029;
    }

    .profile-style {
      width: 200px;
    }

    .notification-horizontal-line {
      height: 1px;
      border: 0;
      border-top: 1px solid #ccc;
    }

    .notification-icon {
      width: 30px;
      height: 25px;
      vertical-align: middle;
      margin-right: 5px;
    }

    // .notification-horizontal-line {
    //   height: 1px;
    //   border: 0;
    //   border-top: 1px solid #ccc;
    // }

    // .notification-article-link {
    //   text-decoration: none;
    //   color: black;
    // }
  }

  .user-sm-dashboard {
    position: relative;
    top: -30px;
  }

  .nav-categories {
    list-style-type: none;
    margin-left: 11%;
    margin-top: 1.5%;

    li {
      display: inline-block;
      margin-right: 3%;
      margin-top: 1%;
      font-family: Georgia;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: normal;
      color: colors(categories);
      cursor: pointer;
    }
  }
}
