@keyframes showAddImage {
  from {
    background: transparent;
    opacity: 0;
  }

  to {
    background: rgb(30, 126, 216);
    opacity: 0.7;
  }
}
@keyframes modal {
  from {
    margin-top: 0;
    border-radius: 0;
    box-shadow: none;
  }
  to {
    margin-top: 3%;
    border-radius: 10px;
    box-shadow: 0px 0px 14px #333;
  }
}

@keyframes growInput {
  from {
    width: 200px;
  }
  to {
    width: 400px;
  }
}
@keyframes atom-spinner-animation-1 {
  100% {
    transform: rotateZ(120deg) rotateX(66deg) rotateZ(360deg);
  }
}

@keyframes atom-spinner-animation-2 {
  100% {
    transform: rotateZ(240deg) rotateX(66deg) rotateZ(360deg);
  }
}

@keyframes atom-spinner-animation-3 {
  100% {
    transform: rotateZ(360deg) rotateX(66deg) rotateZ(360deg);
  }
}

@keyframes moveInLeft {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0);
  }
}
