@keyframes showAddImage {
  from {
    background: transparent;
    opacity: 0;
  }

  to {
    background: rgb(30, 126, 216);
    opacity: 0.7;
  }
}
@keyframes modal {
  from {
    margin-top: 0;
    border-radius: 0;
    box-shadow: none;
  }
  to {
    margin-top: 3%;
    border-radius: 10px;
    box-shadow: 0px 0px 14px #333;
  }
}

@keyframes growInput {
  from {
    width: 200px;
  }
  to {
    width: 400px;
  }
}
