@import url('https://fonts.googleapis.com/css?family=Roboto');
$color: (
  primary: #f7f7f7,
  accent: #ffffff,
  bord: #aaaaaa,
  okay: #aac663,
  darker: #000,
  logbtn: #00aef9,
  moderate: #f4a742,
  greeners: #57943f,
  danger: red,
  darkGreener: rgb(12, 104, 12),
);

$max-width: 100%;

@function color($name) {
  @return map-get($color, $name);
}
.mood-btn {
  margin: 1em;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.emojiValue {
  display: table-cell;
}
.rate-btn {
  width: 3%;
  justify-content: center;
  margin: 7px 8%;
  padding-right: 2em;
  border: none;
  font-size: medium;
}
.ratingIcons {
  width: 23px;
}
.ratingIcons:hover {
  -ms-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
.ratings {
  float: right;
}
.ratings {
  display: flex;
  float: right;
  margin-top: -3%;
}
.Good {
  color: color(greeners);
  font-size: 1em;
  font-family: monospace;
}
.Terrible {
  color: color(danger);
  font-size: 1em;
  font-family: monospace;
}
.Bad {
  color: color(moderate);
  font-size: 1em;
  font-family: monospace;
}
.Okay {
  color: color(okay);
  font-size: 1em;
  font-family: monospace;
}
.Great {
  color: color(darkGreener);
  font-size: 1em;
  font-family: monospace;
}
