@import 'common';
@import 'animation';
$color-blue: rgb(7, 155, 253);
$color-brown: brown;
.web-heading {
  color: $color-blue;
}
.profile-grid-off,
.profile-grid {
  position: relative;
  .user-account-info {
    padding: 1.5%;
    box-shadow: 0px 0px 14px $box-shadow-color;
    border-radius: 10px;
    background: $color-white;
    .statistics {
      width: 100%;
      border-top: 2px solid $color-right-gray;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      text-align: center;
      margin-top: 1%;
      padding-top: 1%;
      .stat-label {
        text-decoration: none;
        color: $color-text-gray;
        display: inline-block;
        .value {
          color: $color-black;
          font-weight: bold;
          font-size: 1.2em;
        }
      }
    }
    .user-account-flex {
      display: grid;
      grid-template-columns: 10em 1fr;
      grid-column-gap: 10px;
      .img-container {
        position: relative;
        height: 10em;
        width: 10em;
        margin-right: 2em;
        text-align: center;
        .add-img-toggler {
          position: absolute;
          background: $color-right-gray;
          bottom: 0;
          border: none;
          outline: none;
          left: 0;
          width: 100%;
          background: transparent;
          font-weight: bolder;
          color: transparent;
          font-size: 2em;
          &:hover {
            animation-name: showAddImage;
            animation-duration: 0.5s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
            color: white;
          }
        }
        img {
          width: 100%;
          height: 100%;
          cursor: pointer;
          &:hover ~ .add-img-toggler {
            z-index: 1;
          }
        }
        &:hover .profile-image-label {
          display: inline-block;
        }
      }
      .info-container {
        padding: 1em 0;
        grid-area: 'info-container';
        text-align: justify;
        .name {
          font-weight: 500;
          font-size: 2em;
          text-transform: capitalize;
        }
        .username {
          line-height: 40px;
          color: $color-text-gray;
        }
        .bio {
          padding: 1% 10px 1% 0px;
          line-height: 30px;
          color: $color-dark-text-gray;
        }
        .btn-follow {
          margin-left: 2em;
          border: 1px solid $color-blue;
          width: 100px;
          padding: 5px;
          border-radius: 5px;
          color: $color-blue;
          margin-top: 10px;
          outline: none;
          font-size: 0.9em;
          transition: 0.2s;
          &:hover {
            box-shadow: 0px 0px 14px $box-shadow-color;
            background: $color-blue;
            color: $color-white;
            transform: translateY(-2px);
          }
        }
      }
    }
  }
  .upload-image-modal {
    position: absolute;
    width: 100%;
    height: 90vh;
    width: 76vw;
    top: -2em;
    left: -4.5em;
    z-index: 100;
    .upload-page {
      width: 90%;
      margin-top: 3%;
      margin-left: auto;
      margin-right: auto;
      background: rgb(239, 242, 245);
      min-height: 90%;
      box-shadow: 0px 0px 14px #333;
      border-radius: 10px;
      animation-name: modal;
      animation-duration: 0.3s;
    }
    .btn {
      font-size: 18px;
      line-height: 18px;
      height: 30px;
      padding: 0 10px;
      border-radius: 1px;
      margin: 1%;
    }
    .btn-cancel {
      margin-left: 10%;
      border: 1px solid $color-brown;
      color: rgb(243, 139, 139);
      &:hover {
        background: $color-brown;
        color: white;
      }
    }
    .btn-upload {
      background: white;
      border: 1px solid $color-blue;
      color: $color-blue;
      &:hover {
        background: $color-blue;
        color: white;
      }
    }
    .dropzone {
      width: 100%;
      background: rgb(225, 240, 255);
      height: 100px;
      margin-bottom: 1%;
      position: relative;

      p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .crop {
      .crop-section {
        width: 100%;
        display: grid;
        grid-template-columns: 60% 1% 30%;
        grid-column-gap: 1em;
      }
      .cropper {
        margin-left: 1%;
        width: 100%;
        overflow: auto;
        height: 400px;
        text-align: center;
        border-radius: 10px;
      }
      .separator {
        background: rgb(221, 228, 233);
      }
      .crop-preview {
        width: 100%;
        overflow: hidden;
        text-align: center;
        canvas {
          border-radius: 10px;
          box-shadow: 0px 0px 14px $color-text-gray;
          border: 5px solid $color-right-gray;
        }
      }
    }
  }
  .left-profile {
    background: $color-white;
    box-shadow: 0px 0px 14px $box-shadow-color;
    border-radius: 10px;
    li {
      list-style-type: none;
      border-top: 1px solid $color-gray-tertiary;
      line-height: 35px;
      padding-left: 10px;
      .link {
        text-decoration: none;
        color: $color-text-gray;
      }
      .active {
        color: $color-blue;
      }
    }
    h3 {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      line-height: 40px;
      padding-left: 10px;
      background: rgba(9, 129, 241, 0.89);
      color: white;
    }
  }
}
.profile-grid {
  display: block;
  width: 100%;
  // grid-template-columns: 1fr 3fr;
  // grid-column-gap: 2em;
  // grid-template-areas: 'left-profile user-account-flex';
}
@media screen and (max-width: 1500px) {
  .profile-grid {
    width: 100%;
    margin: 0 auto 2em auto;
    // display: grid;
    // grid-template-columns: 1fr 3fr;
    // grid-column-gap: 10px;
    margin: 2em auto;
  }
}
@media screen and (max-width: 1000px) {
  .profile-grid {
    // display: grid;
    // grid-template-columns: 1fr 3fr;
    // grid-column-gap: 4px;
    width: 98%;
    margin: 2em auto;
  }
}
@media screen and (max-width: 815px) {
  .profile-grid {
    width: 100%;
    // display: grid;
    // grid-template-columns: 1fr;
    // grid-column-gap: 4px;
    margin: 2em auto;
    .left-profile {
      display: none;
    }
  }
}
@media screen and (max-width: 500px) {
  .profile-grid-off {
    display: grid;
    grid-template-columns: 1fr;
    width: 98%;
    margin: 2em auto;
    .user-account-flex {
      display: grid;
      grid-template-columns: 1fr;
      grid-column-gap: 0px;
      grid-template-areas: 'image-container' 'info-container';
      .info-container {
        display: block;
        width: 100%;
        .name {
          font-weight: 100;
          font-size: 1em;
        }
      }
    }
  }
  .profile-grid {
    display: block;
  }
}
.text-center {
  text-align: center;
}
.friend-profile {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.profile-page {
  position: relative;
}
