@import url('https://fonts.googleapis.com/css?family=Roboto');
$color: (
  primary: #f7f7f7,
  accent: #ffffff,
  settingBackground: #f9f8f9,
);

$max-width: 100%;

@function color($name) {
  @return map-get($color, $name);
}

.settings {
  width: 80%;
  padding: 10px;
  margin: auto;
  font-family: sans-serif;
  text-align: center;
  background: color(settingBackground);
}

#vertical-tab {
  &-zero,
  &-one,
  &-two,
  &-three,
  &-four {
    flex-grow: 1;
  }
}

.vertical-tabs {
  button {
    cursor: pointer;
  }
}

.notifications-block {
  display: block;
}

@media only screen and (max-width: 600px) {
  .settings {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
