@import url("https://fonts.googleapis.com/css?family=Mandali&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box; }

h1 {
  font-family: 'Mandali', sans-serif; }

.bookmarked-article {
  width: 90%;
  margin-left: auto;
  margin-right: auto; }
