@import url("https://fonts.googleapis.com/css?family=Roboto");
.container {
  width: 78%; }
  .container .topArticle {
    display: inline-block;
    width: 69%; }
    .container .topArticle .topArticleImage {
      width: 82%;
      max-height: 20em;
      overflow: hidden; }
    .container .topArticle .titleDiv {
      width: 35%;
      display: inline-block;
      position: absolute;
      padding: 0 2em; }
    .container .topArticle .title {
      font-size: 1.4em;
      font-weight: bold;
      color: #000;
      text-transform: capitalize; }
    .container .topArticle .owner {
      padding: 2em 0.4em;
      text-transform: capitalize;
      color: #aaaaaa; }
    .container .topArticle .description {
      padding: 1em 0.4em;
      color: #4c5055;
      font-size: larger; }
  .container .popular {
    width: 24.2%;
    position: absolute;
    display: inline-flex; }
  .container .articles {
    margin: 2em 0;
    max-width: 69%; }
    .container .articles .categoryTitle {
      text-transform: capitalize; }
  .container .cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(32%, 1fr));
    grid-auto-rows: minmax(7.99%, auto);
    grid-gap: 1.9em; }
    .container .cardContainer #cardLink {
      all: unset;
      cursor: pointer; }
    .container .cardContainer .articleCard {
      max-width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(32%, 1fr));
      grid-auto-rows: minmax(7.99%, auto);
      grid-gap: 1.9em;
      margin-bottom: 3em;
      overflow: hidden;
      margin-top: 1em; }
      .container .cardContainer .articleCard .cardTitle {
        width: 90%;
        display: inline-block;
        text-align: justify;
        margin-right: 1em; }
        .container .cardContainer .articleCard .cardTitle .articleTitle {
          font-size: 15px;
          font-weight: bold;
          margin-bottom: 1em; }
        .container .cardContainer .articleCard .cardTitle .articleDescription {
          font-size: 1em;
          margin-bottom: 1em; }
      .container .cardContainer .articleCard .likeAndBookMarkDiv {
        display: inline-block; }
        .container .cardContainer .articleCard .likeAndBookMarkDiv .bookmark {
          border: none;
          margin-left: 2em;
          color: #00aef9; }
        .container .cardContainer .articleCard .likeAndBookMarkDiv #views {
          color: #00aef9; }
      .container .cardContainer .articleCard .articleImage {
        position: absolute;
        width: 18.7%;
        height: 10.4em;
        border-radius: 0.2em; }
  .container .center {
    text-align: center;
    margin: 5% auto; }
  .container .pagination {
    display: inline-block;
    margin-bottom: 3em; }
  .container .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    border: 1px solid #ddd;
    margin: 0 4px; }
  .container .pagination a.active {
    background-color: #4caf50;
    color: white;
    border: 1px solid #4caf50; }
  .container .pagination a:hover:not(.active) {
    background-color: #ddd; }
