*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.comment-form {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  border: none;
}
.comment-form textarea {
  width: 100%;
  resize: none;
  min-height: 6em;
  border: none;
  outline: none;
  font-size: 1.2em;
  color: #444;
  box-shadow: 0px 0px 14px #f5f3f3;
  border-radius: 5px;
  padding: 1%;
}
.comment-form .form-button {
  font-size: 1.2em;
  line-height: 2em;
  width: 6em;
  border-radius: 10px;
  border: none;
  outline: none;
  background: #0396eb;
  color: white;
  transition: 0.5s;
  margin-top: 1%;
}
.comment-form .form-button:hover {
  transform: translateY(-2px);
  background: #15a1f1;
}
.comment-form .text-area-label {
  color: #292828;
  font-weight: bold;
  line-height: 40px;
}
