@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  background: #f7f7f7;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.container {
  width: 100%;
}

.container .login-section {
  background: #fbfeff;
  box-shadow: 1px 0 5px 1px #aaaaaa;
  display: inline-block;
  margin-left: 37.5%;
  margin-top: 150px;
  width: 25%;
}

.container .login-section .logo {
  margin: 30px;
  overflow: hidden;
}

.container .login-section .log-text {
  margin: 30px;
}

.container .login-section .log-text .divider {
  padding: 12px 0;
}

.container .login-section .log-text input[type] {
  background: #ffffff;
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  box-shadow: 2px 7px 25px -15px #000;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: medium;
  margin: 10px 0;
  outline: none;
  padding: 10px 8px;
  width: 100%;
}

.container .login-section .log-text .help-block {
  color: #f00;
  font-size: 13px;
}

.container .login-section .log-text .alert {
  padding: 5px 20px;
  background-color: #f44336;
  color: white;
}

.container .login-section .log-text .closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.container .login-section .log-text .closebtn:hover {
  color: black;
}

.container .login-section .log-text input[type]:hover {
  border: solid 1px #000;
}

.container .login-section .log-text .fo-btn {
  float: right;
  text-decoration: none;
  color: #000;
}

.container .login-section .log-text .fo-btn:hover {
  text-decoration: underline;
}

.container .login-section .log-text .login-btn {
  background: #00aef9;
  border: 0;
  border-radius: 5px;
  box-shadow: 2px 7px 25px -8px #000;
  box-sizing: border-box;
  color: #ffffff;
  font-family: sans-serif;
  font-size: medium;
  margin: 10px 0;
  outline: none;
  padding: 10px 8px;
  width: 100%;
  cursor: pointer;
}

.container .login-section img {
  max-width: 100%;
}

.container .login-section .log-btn {
  border-top: 1px solid #000;
  width: 100%;
}

.container .login-section .log-btn .title-login {
  margin-left: 30px;
}

.container .login-section .log-btn .login-button-section {
  float: left;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 30px;
}

.container .login-section .log-btn .login-button-section .fo-btn:hover {
  text-decoration: underline;
}

.container .login-section .log-btn .login-button-section .fa-twitter {
  color: #00acee;
}

.container .login-section .log-btn .login-button-section .fa-github {
  color: #000;
}

.container .login-section .log-btn .login-button-section .fa-facebook-f {
  color: #3b5998;
}

.container .login-section .log-btn .login-button-section .fa-google-plus-g {
  color: red;
}

.container .login-section .log-btn .login-button-section .social-login-btn {
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 3px 1px #aaaaaa;
  cursor: pointer;
  float: left;
  height: 30px;
  margin-right: 6px;
  padding: 15px;
  text-align: center;
  width: 10%;
}

@media only screen and (max-width: 1200px) {
  .container .login-section {
    margin-left: 30%;
    width: 40%;
  }

  .container .login-section .log-btn .login-button-section .social-login-btn {
    padding: 0 7%;
  }
}

@media only screen and (max-width: 600px) {
  .container .login-section {
    margin-left: 20%;
    width: 60%;
  }

  .container .login-section .log-btn .login-button-section .social-login-btn {
    padding: 0 7%;
  }
}
