.user-menu {
  display: block;
  text-decoration: none;
  color: #747171;
  height: 30px;
  line-height: 30px;
  margin-bottom: 1%;
  border-bottom: 2px solid #fbf8f8;
  text-align: center;
  width: 100%; }
  .user-menu:hover {
    color: #147aee;
    background: rgba(123, 179, 253, 0.02); }

.popup-style {
  z-index: 100; }
