.nav-categories {
  position: absolute;
  text-align: left;
  overflow: hidden;
  display: table;
  left: 10rem;
  top: 4rem;
  width: 60%;
  box-sizing: border-box; }

.search-form {
  display: flex;
  width: fit-content;
  float: right;
  margin-top: -6px;
  margin-right: 1rem; }
  .search-form .search-input input[type='search'] {
    height: 40px;
    color: #333;
    width: 200px;
    background: #f9f9f9;
    font-size: 1.7rem;
    outline: none;
    border: 2px solid #fff;
    padding: 0 1rem;
    border-radius: 3px;
    transition: all 0.2s; }
    .search-form .search-input input[type='search']:focus {
      background: #f1eaeb55; }
  .search-form .search-input select {
    height: 40px;
    outline: none;
    border: 2px solid #fff;
    font-size: 1.7rem; }
  .search-form .search-input button {
    height: 40px;
    width: 40px;
    border: 2px solid #fff;
    background: #eee;
    border-radius: 3px;
    transition: all 0.2s;
    color: #9b9b9b;
    background: transparent;
    cursor: pointer; }
    .search-form .search-input button:hover {
      background: #049aff;
      color: white;
      border-radius: 5px; }

@media screen and (max-width: 1050px) {
  .search-form {
    margin-top: 20px; } }
